<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Your Expenses Calculator</h1>
        <div class="buttons">
            <a href="{% url 'users:login' %}" class="button">Login</a>
            <a href="{% url 'users:register' %}" class="button">Register</a>
        </div>
    </div>
</body>
</html>
